body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}

h1 {
  font-family: 'Comfortaa', cursive;
  color: #fbceb5;
  font-size: 4rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #ff5d6c;
  font-size: 2rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #ff5d6c;
  font-size: 1.4rem;
}

h4 {
  font-family: 'Comfortaa', cursive;
  color: #fbceb5;
  font-size: 1rem;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  border-color: grey;
  width: 3%;
}

.circle-img {
  height: 200px;
  background-color: #deff8b;
  border-radius: 100%;
}

.skill-img {
  height: 150px;
  float: left;
  margin-right: 30px;
}

.top-container {
  background-color: #8cba51;
  position: relative;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.profile {
  margin: auto auto 50px;
}

.middle-container {}

.bottom-container {}

.skill-row {
  width: 50%;
  margin: 50px auto 50px;
  text-align: left;
}

#top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

#bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

#mountain {}
